@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  /* Breakpoints */
  --breakpoint-mob: 640px; /* Mobile / small screens */
  --breakpoint-tab: 768px; /* Tablets */
  --breakpoint-lap: 1024px; /* Laptops / small desktops */
  --breakpoint-desk: 1280px; /* Desktops */

  /* pPrimary */
  --color-primary-default: #f3407c;
  --color-primary-hover: #f85e92;
  --color-primary-active: #ee427c;
  --color-primary-light: #fdd9e5;

  /* Secondary */
  --color-secondary-default: #1e2c47;
  --color-secondary-hover: #4b566c;
  --color-secondary-active: #1e2c47;
  --color-secondary-light: #a5abb5;

  /* Text */
  --color-text-header: #283b61;
  --color-text-body: #797a7b;

  /* Border radius */
  --radius-base: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.75rem; /* 12px */
  --radius-lg: 1.5rem; /* 24px */
  --radius-xl: 12.5rem; /* 200px */

  /*  Font */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Poppins", sans-serif;
}

@theme {
  @keyframes spinAround {
    0% {
      transform: rotate(0deg) translateX(var(--orbit-radius, 150px))
        rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(var(--orbit-radius, 150px))
        rotate(-360deg);
    }
  }
}

@layer utilities {
  .animate-spinAround {
    animation: spinAround var(--orbit-speed, 8s) linear infinite;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--color-text-body);
}

/* Reset default slick dot before */
.slick-dots li button::before {
  content: ""; /* removes default black circle */
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: #cbd5e1; /* gray for inactive dot */
  opacity: 1;
}

/* slick default arrows */
.slick-slide > div {
  display: flex !important;
  justify-content: center;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: #2563eb; /* blue */
  border-radius: 50%; /* round */
  z-index: 20;
  top: 50% !important;
  transform: translateY(-50%) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* hover effect */
.slick-prev:hover,
.slick-next:hover {
  background-color: #1e40af; /* darker blue */
}

/* Carousel */
.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-secondary-hover);
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--color-secondary-hover);
  border-radius: calc(var(--outer-r) - var(--p-distance));
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid #555;
}

.carousel-item.round {
  background-color: #0d0716;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #333333;
}

.carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.carousel-item-description {
  font-size: 14px;
  color: #fff;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: #555;
}
